/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    border: 1px dashed black;
    /* test */

    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.hero, section{
    padding: 40px 20px;
}

.flex{
    display: flex;
}


/* navbar */
nav{
    background-color: #add8e6;
    /* test */

    padding: 18px;
}
nav .container > *{
    border: 1px dashed black;
    /* test */

    padding: 14px 10px;
}
nav .container{
    background-color: #daa520;
    /* test */

    display: flex;
}
nav .logo{
    width: 240px;
}
nav .nav-links{
    flex-grow: 1;
}
nav .nav-links ul{
    display: flex;
    justify-content: center;

    gap: 12px;

    list-style-type: none;
}
nav .login{
    width: 240px;
    text-align: right;
}


/* download */
.s-container{
    background-color: #ee82ee;
    height: 400px;
    /* test */

    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}
.hero {
    background-color: #00008b;
    /* test */
}


/* sezioni img e descrizione */
.img-column{
    background-color: #1e90ff;
    height: 500px;
    /* test */

    flex-grow: 1;
}
.text-column{
    background-color: #ffc0cb;
    height: 500px;
    /* test */

    width: 480px;
}
.bg-gray {
    background-color: #d3d3d3;
}


/* img e download */
.download{
    height: 900px;
    /* test */

    background-color: #228b22;
}






/* info */

footer .footer-container{
    align-items: center;
    justify-content: center;

    padding: 14px;
    padding-bottom: 40px;
}
footer section .info-container{
    height: 580px;
    width: 1200px;
    border: 1px dotted black;
    /* test */

    justify-content: flex-end;

    background-color: #f08080;
}
footer section .info-container .info{
    height: 580px;
    width: 220px;
    border: 1px dotted black;
    /* test */

    background-color: #20b2aa ;
}

/* button */

footer .button-bar{
    align-items: flex-end;
    justify-content: center;

    padding-top: 30px;
}
footer .button-bar .button-container{
    width: 1200px;
    height: 80px;
    /* test */

    align-items: center;
    justify-content: space-between;

    background-color: #7fffd4;
}
footer .button-bar .button-container .footer-item{
    border: 5px dotted black;
    /* test */
    padding: 10px 14px;

    background-color: #ffb6c1;
}
